<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/css/read.css' />
</head>

<%
  var read = rows[0];
%>
<% include ../tampletes/header.ejs %>
<body>
  <div class='board_box'>

    <div>
      <div class='tit'>
        <%=read.title%>
      </div>

    </div>
    <div>

    </div>

<!-- idx, hit, writer, title, regdate, moddate, content -->

    <div>

        <a href="/board/"> 목록 </a>
        <a href="/board/update/<%=read.idx%>">수정</a>
        <a href="/board/delete/<%=read.idx%>">삭제 </a>
      
    </div>

    <div class='content'>

      <%=read.content %>
    </div>

  </div>
  <!-- <% include ../tampletes/footer.ejs %> -->
</body>
</html>