<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/write.css' />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body>

      <% include ../tampletes/header.ejs %>
      <div class='form_box'>
          <form method="post" action="/board/update" onsubmit="onWriteSubmit()">
          <%
            for(var i = 0; i<rows.length; i++){
          %>
          <div>
            <input type="hidden" name="idx" value="<%=rows[i].idx%>"required/>
          </div>       
          <div>
            <input type="text" name="title" id="title" value="<%=rows[i].title%>" required/>
          </div>     
          <div>
            <input type="text" name="writer" id="writer" value="<%=rows[i].writer%>" required/>
          </div>
            <textarea cols="50" role="12" name="content" id="content" value="<%=rows[i].content%>" required></textarea>
          <div class='btn_submit_box'>

          <%

            }

          %>
            <input type="submit" value="submit!" class='btn_submit'>
          </div>
        </form>
      </div>
      
  <script>
    function onWriteSubmit()
    {
      if ( $("#writer").val().trim() == "" )
      {
        var message = "아이디를 입력해 주세요";
        $("#writer").val("");
        $("#writer").focus();
        alert(message);
        return false;
      }

      if ( $("#title").val().trim() == "" )
      {
        var message = "제목을 입력해 주세요";
        $("#title").val("");
        $("#title").focus();
        alert(message);
        return false;
      }

      if ( $("#content").val().trim() == "" )
      {
        var message = "본문 내용을 입력해 주세요";
        $("#content").val("");
        $("#content").focus();
        alert(message);
        return false;
      }

      if ( $("#password").val().trim() == "" )
      {
        var message = "패스워드를 입력해 주세요";
        $("#password").val("");
        $("#password").focus();
        alert(message);
        return false;
      }
    }
  </script>
  </body>
</html>